@media (min-width:350px) and (max-width:435px) {
    .page-game {
        display: grid;
        grid-template-columns: repeat(1,100%);
        margin-top: 5%;
        gap: 0%;
    }

    .sitename h1 {
        font-size: 16px;
    }

    .navbar-group {
        margin-left: 10px;
        float: right;
    }

    .navbar-item a {
        font-size: 16px;
        margin-right: 5px;
    }

    .dropbtn {
        font-size: 16px;
        margin-right: 5px;
    }

    .search {
        width: 100px;
        float: left;
    }

    .genre-game a {
        font-size: 16px;
    }

    .container-footer p {
        font-size: 14px;
    }

    .sosial-media a {
        font-size: 14px;
    }

    .img-game {
        width: 250px;
        border-radius: 20px;
    }
}

@media (min-width: 436px) and (max-width : 576px) {
    .page-game {
        display: grid;
        grid-template-columns: repeat(1,100%);
        margin-top: 5%;
        gap: 0%;
    }

    .sitename h1 {
        font-size: 16px;
    }

    .navbar-group {
        margin-left: 10px;
        float: right;
    }

    .navbar-item a {
        font-size: 16px;
        margin-right: 5px;
    }

    .dropbtn {
        font-size: 16px;
        margin-right: 5px;
    }

    .search {
        width: 100px;
        float: left;
    }

    .genre-game a {
        font-size: 16px;
    }

    .container-footer p {
        font-size: 14px;
    }

    .sosial-media a {
        font-size: 14px;
    }

    .img-game {
        width: 250px;
        border-radius: 20px;
    }
}

@media (max-width : 576px) {
    .game-populer-container {
        display: grid;
        grid-template-columns: repeat(1,250px);
        margin-top: 30px;
        /* margin-left: 150px; */
    }

    .page-game {
        display: grid;
        grid-template-columns: repeat(1,100%);
        margin-top: 5%;
        gap: 0%;
    }

    .img-child {
        width: 200px;
    }

    .sitename {
        font-size: 18px;
    }

    .sitename h3 {
        font-size: 15px;
    }

    .game-populer h3 {
        font-size: 20px;
    }

    .img-game {
        width: 300px;
    }

    .img-size {
        height: 400px;
    }

    .contant-3 h1 {
        font-size: 20px;
    }

    .text-and-img-contant-2 {
        font-size: 16px;
    }

    .contant-2 h3 {
        font-size: 35px;
    }
}

@media (min-width : 577px) and (max-width : 768px) {
    .game-populer-container {
        display: grid;
        grid-template-columns: repeat(1,250px);
        margin-top: 30px;
        /* margin-left: 150px; */
    }

    .page-game {
        display: grid;
        grid-template-columns: repeat(1,100%);
        margin-top: 5%;
        gap: 0%;
    }

    .img-game {
        width: 250px;
        border-radius: 20px;
    }

    .img-child {
        width: 200px;
    }

    .sitename {
        font-size: 20px;
    }

    .sitename h3 {
        font-size: 18px;
    }

    .game-populer h3 {
        font-size: 22px;
    }

    .img-game {
        width: 300px;
    }

    .img-size {
        height: 400px;
    }

    .contant-3 h1 {
        font-size: 22px;
    }

    .text-and-img-contant-2 {
        font-size: 18px;
    }

    .contant-2 h3 {
        font-size: 37px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .game-populer-container {
        display: grid;
        grid-template-columns: repeat(1,250px);
        margin-top: 30px;
        /* margin-left: 150px; */
    }

    .page-game {
        display: grid;
        grid-template-columns: repeat(2,50%);
        margin-top: 5%;
        gap: 0%;
    }

    .img-game {
        width: 250px;
        border-radius: 20px;
    }

    .img-child {
        width: 200px;
    }

    .sitename {
        font-size: 22px;
    }

    .sitename h3 {
        font-size: 20px;
    }

    .game-populer h3 {
        font-size: 24px;
    }

    .img-game {
        width: 300px;
    }

    .img-size {
        height: 400px;
    }

    .contant-3 h1 {
        font-size: 24px;
    }

    .text-and-img-contant-2 {
        font-size: 20px;
    }

    .contant-2 h3 {
        font-size: 39px;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .game-populer-container {
        display: grid;
        grid-template-columns: repeat(1,250px);
        gap: 20px;
        margin-top: 30px;
        /* margin-left: 150px; */
    }

    .page-game {
        display: grid;
        grid-template-columns: repeat(2,50%);
        margin-top: 5%;
        gap: 0%;
    }

    .img-game {
        width: 250px;
        border-radius: 20px;
    }

    .img-child {
        width: 300px;
    }

    .sitename {
        font-size: 24px;
    }

    .sitename h3 {
        font-size: 22px;
    }

    .game-populer h3 {
        font-size: 26px;
    }

    .img-game {
        width: 300px;
    }

    .img-size {
        height: 400px;
    }

    .contant-3 h1 {
        font-size: 26px;
    }

    .text-and-img-contant-2 {
        font-size: 22px;
    }

    .contant-2 h3 {
        font-size: 41px;
    }
}

@media (min-width: 1021px) and (max-width: 1429px) {
    .game-populer-container {
        display: grid;
        grid-template-columns: repeat(1,250px);
        gap: 20px;
        margin-top: 30px;
        /* margin-left: 150px; */
    }

    .page-game {
        display: grid;
        grid-template-columns: repeat(2,50%);
        margin-top: 5%;
        gap: 0%;
    }

    .img-game {
        width: 250px;
        border-radius: 20px;
    }

    .img-child {
        width: 300px;
    }

    .sitename {
        font-size: 26px;
    }

    .sitename h3 {
        font-size: 24px;
    }

    .game-populer h3 {
        font-size: 28px;
    }

    .img-game {
        width: 300px;
    }

    .img-size {
        height: 400px;
    }

    .contant-3 h1 {
        font-size: 28px;
    }

    .text-and-img-contant-2 {
        font-size: 24px;
    }

    .contant-2 h3 {
        font-size: 43px;
    }
}

@media (min-width: 1430px) and (max-width: 1800px) {
    .game-populer-container {
        display: grid;
        grid-template-columns: repeat(1,250px);
        gap: 20px;
        margin-top: 30px;
        /* margin-left: 150px; */
    }

    .page-game {
        display: grid;
        grid-template-columns: repeat(4,25%);
        margin-top: 5%;
        gap: 0%;
    }

    .img-game {
        width: 250px;
        border-radius: 20px;
    }

    .img-child {
        width: 300px;
    }

    .sitename {
        font-size: 26px;
    }

    .sitename h3 {
        font-size: 24px;
    }

    .game-populer h3 {
        font-size: 28px;
    }

    .img-game {
        width: 300px;
    }

    .img-size {
        height: 400px;
    }

    .contant-3 h1 {
        font-size: 28px;
    }

    .text-and-img-contant-2 {
        font-size: 24px;
    }

    .contant-2 h3 {
        font-size: 43px;
    }
}

@media (min-width : 375px) and (max-width :435px) {
    .game-populer-container {
        display: grid;
        grid-template-columns: repeat(1,150px);
        margin-top: 30px;
        /* margin-left: 150px; */
    }

    .img-child {
        width: 100px;
    }

    .sitename {
        font-size: 13px;
    }

    .sitename h3 {
        font-size: 10px;
        width: 100px;
    }

    .game-populer h3 {
        font-size: 16px;
    }

    .img-game {
        width: 150px;
    }

    .img-size {
        height: 200px;
        width: 200px;
    }

    .contant-3 h1 {
        font-size: 15px;
    }

    .text-and-img-contant-2 {
        font-size: 10px;
    }

    .contant-2 h3 {
        font-size: 20px;
    }

    .text-and-img-contant-2 p {
        font-size: 10px;
    }

    .navbar-group li a {
        font-family: "Space Grotesk", serif;
        font-size: 15px;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: rgb(83, 0, 188);
        display: flex;
        list-style-type: none;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .dropbtn {
        font-size: 15px;
        margin-right: 0%;
    }

    .game-populer-style p a {
        font-size: 15px;
    }

    .search {
        border-bottom: 2px solid rgb(83, 0, 188);
        width: 150px;
        float: left;
    }

    a {
        font-size: 10px;
    }

    .device button {
        font-size: 25px;
        margin-left: 10px;
        padding: 10px;
        border: 1px rgb(255, 255, 255) solid;
        border-radius: 20px;
        color: white;
        background-color: #5300bc;
        cursor: pointer;
        transition: background-color 0.5s ease-in-out,transform 0.2s ease-in-out;
    }

    .container-footer p {
        font-size: 10px;
    }
} 